.container.p-5.m-5
  .card{style: "width: 70rem;"}
    - if @profile&.avatar&.attached?
      = image_tag user.profile.avatar, class: "rounded-circle", size: "50x50"
    - else
      = image_tag 'default-avatar.png', class: "rounded-circle", size: "50x50"
    .card-body-profile.mb-5
      .card-user-name.row
        %h4.mb-3.col-6= user.display_name
        %p.col-6 #{[user.email]}
      %p.m-0= user&.introduction
      %p.m-auto{style: "opacity: 0.6;"}= user&.age
    .card-body.row
      - if user == current_user
        .card-body-edit.col-6
          %button.btn.btn-danger{type: "button"}
            = link_to '編集', edit_profile_path, class: 'text-decoration-none'
      - else
        .card-body-edit.col-6
          %button.btn.btn-danger{type: "button"}
            = link_to 'フォローする'
      .card-body-other.col-6
        %a.card-link{href: "#"} Another link

  .card-body-show-my-post.m-5
    - user.posts.each do |post|
      = render 'posts/post', post: post