.container-fluid.p-5.m-5 
  .card.mx-auto.mb-4{:style => "width: 40rem;"}
    .card-post-information.row
      %p.col-4
        - if current_user.profile.avatar.attached?
          = image_tag current_user.profile.avatar, class: "rounded-circle", size: "50x50"
        - else
          = image_tag 'default-avatar.png', class: "rounded-circle", size: "50x50"
      %p.col-4= @post.author_name
      %p.col-4= @post.display_created_at
    .card-body.mb-5
      %h5.card-title= @post.title
      %p.card-text= @post.content
    - if user_signed_in? && current_user.has_written?(@post)
      .card-action-btn.row 
        .card-action-btn-edit.col-6
          = link_to edit_post_path(@post) do
            %button.btn{:type => "button"}
              %i.fas.fa-edit.fa-2x{:style => "color: #a9a9a9;"}
        .card-action-btn-delete.col-6
          = link_to post_path(@post), data: { method: 'delete', confirm: '本当に削除しますか' } do
            %button.btn{:type => "button"}
              %i.fas.fa-trash-alt.fa-2x{:style => "color: #a9a9a9;"}
    %ul.list-group.list-group-flush
      %li.list-group-item An item
      %li.list-group-item.text-center
        %p{style: "opacity: 0.4;"} コメントが#{@post.comment_count}件あります
        %i.far.fa-comment.fa-2x
      %li.list-group-item A third item
    .card-body-comment.row
      .card-body-first.col-6
        = link_to  new_post_comment_path(@post) do
          %button.btn.btn-outline-primary{type: "button"} 
            コメント
      .card-body-second.col-6
        %a.card-link{:href => "#"} Another link