!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RamenPosts
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-secondary.text-center.z-index:2
      .container-fluid.row
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item.col-2
              %a.nav-link{"aria-current" => "page", :href => "#"} 新着一覧
            %li.nav-item.col-2
              %a.nav-link{:href => "#"} タイムライン
            %li.nav-item.col-2
              %a.nav-link{:href => "#"} ランキング
            %li.nav-item.col-2
              - unless current_page?(root_path)
                = link_to root_path do
                  %button.btn{:type => "button"}
                    %i.fas.fa-home
            - if user_signed_in?
              %li.nav-item.col-2
                .profile-btn 
                  %button.btn.btn-outline-primary{type: "button"}
                    = link_to 'プロフィール', profile_path, class: 'text-decoration-none'
              %li.nav-item.col-2
                %button.btn.btn-outline-primary{type: "button"} 
                  = link_to 'ログアウト', destroy_user_session_path, class: 'text-decoration-none', data: { method: 'delete' }
              %li.nav-item.col-2
                %button.btn.btn-outline-primary{type: "button"}
                  = link_to 'お気に入り', favorites_path, class: 'text-decoration-none'
            - else 
              .login-btn.row
                %button.btn.btn-outline-primary{type: "button"}
                  = link_to 'ログイン', new_user_session_path, class: 'text-decoration-none'

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{class: key}= value
    = yield
