!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RamenPosts
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-light.text-center.z-index:2
      .container-fluid.row
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item.col-4
              = link_to '新着一覧', timeline_path, class: 'text-decoration-none text-secondary'
            %li.nav-item.col-4
              = link_to 'タイムライン', timeline_path, class: 'text-decoration-none text-secondary' 
            %li.nav-item.col-4
              %a.nav-link{:href => "#"} ランキング
            %li.nav-item.col-4
              - unless current_page?(root_path)
                = link_to root_path do
                  %button.btn{:type => "button"}
                    %i.fas.fa-home
            - if user_signed_in?
              %li.nav-item.col-4
                .profile-btn 
                  = link_to  profile_path, class: 'text-decoration-none' do
                    %button.btn{type: "button"}
                      %i.far.fa-user-circle.fa-2x
              %li.nav-item.col-4 
                = link_to destroy_user_session_path, class: 'text-decoration-none', data: { method: 'delete' } do
                  %button.btn{type: "button"} 
                    %i.fas.fa-sign-out-alt.fa-2x
              %li.nav-item.col-4
                = link_to  favorites_path, class: 'text-decoration-none' do
                  %button.btn{type: "button"}
                    %i.far.fa-bookmark.fa-2x
            - else
              .login-btn
                = link_to new_user_session_path, class: 'text-decoration-none' do
                  %button.btn{type: "button"}
                    %i.fas.fa-sign-in-alt.fa-2x

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{class: key}= value
    = yield
